.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 0.5rem 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: white;
    list-style-type: none;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.navItem {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.appTitle {
    font-weight: bold;
}

.navItem:hover {
    background-color: #3e8e41;
}